<?php
return [
    'driver' => 'Mysqli',
    'hostname' => '127.0.0.1',
    'database' => 'test',
    'username' => 'root',
    'password' => '',
    'options' => [
        'buffer_results' => true
    ]
];
